* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: aqua;
  text-align: center;
}

#welcome {
  font-size: 30px;
  font-weight: bolder;
}

#paperButton {
  float: center;
  min-width: 20%;
  min-height: 20%;
  background-image: url(/paper.png);
  background-size: 100%;
}

#scissorButton {
  float: right;
  margin-right: 20%;
  min-width: 20%;
  background-image: url(/scissor.png);
  background-size: 100%;
}

#rockButton {
  float: left;
  margin-left: 20%;
  min-width: 20%;
  min-height: auto;
  padding: 20px;
  background-image: url(/rock.png);
  background-size: cover;
}


