* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: aqua;
  text-align: center;
}

#welcome {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bolder;
  color: navy;
}

#choose, #results, #userChoice, #computerChoice {
  padding: 20px;
  color: navy;
  font-weight: bold;
}

#paper {
  float: center;
  max-width: 20%;
  padding: 10px;
  background-color: blue;
  color: crimson;
  font-weight: bold;
}

#scissors {
  float: right;
  margin-right: 20%;
  max-width: 20%;
  padding: 10px;
  background-color: blue;
  color: crimson;
  font-weight: bold;
}

#rock {
  float: left;
  margin-left: 20%;
  max-width: 20%;
  padding: 10px;
  background-color: blue;
  color: crimson;
  font-weight: bold;
}

.buttonImage {
  max-width: 100%;
}

#rock:hover, #scissors:hover, #paper:hover {
  background-color: navy;
  cursor: pointer;
}

