* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: aqua;
  text-align: center;
}

#welcome {
  font-size: 30px;
  font-weight: bolder;
}

#paperButton {
  float: center;
  max-width: 20%;
  padding: 10px;
}

#scissorButton {
  float: right;
  margin-right: 20%;
  max-width: 20%;
  padding: 10px;
}

#rockButton {
  float: left;
  margin-left: 20%;
  max-width: 20%;
  padding: 10px;
}

.buttonImage {
  max-width: 100%;
}

